Source: qgvdial
Section: user/network
Priority: extra
Maintainer: Yuvraaj <yuvraaj@gmail.com>
Build-Depends: debhelper (>= 7), libqt4-dev
Standards-Version: 3.8.3
Homepage: http://code.google.com/p/qgvdial/

Package: qgvdial
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Multi-platform Google Voice Dialer
 Google Voice Dialer written in QT. Works so far in Windows, Linux, Maemo5, Symbian, Harmattan, SailfishOS and MacOSX Snow Leopard.
