Source: qgvdial
Section: user/network
Priority: optional
Maintainer: Yuvraaj Kelkar <yuvraaj@gmail.com>
Build-Depends: debhelper (>= 9), libqt4-dev
Standards-Version: 3.9.6
Homepage: https://github.com/uvatbc/qgvdial

Package: qgvdial
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Multi-platform Google Voice Dialer
 Google Voice Dialer written in QT. Works so far in Windows, Linux, Maemo5, Symbian, Harmattan, SailfishOS and MacOSX Snow Leopard.
