[submodule "third-party/o2"]
	path = third-party/o2
	url = git@github.com:uvatbc/o2.git
	branch = master
[submodule "third-party/mosquitto"]
	path = third-party/mosquitto
	url = git@github.com:eclipse-mosquitto/mosquitto.git
