Source: qgvnotify
Section: user/network
Priority: extra
Maintainer: Yuvraaj <yuvraaj@gmail.com>
Build-Depends: debhelper (>= 5), libqt4-dev, libmosquitto (>= 0.15), libssl-dev
Standards-Version: 3.7.3
Homepage: http://code.google.com/p/qgvdial/
XSBC-Bugtracker: http://code.google.com/p/qgvdial/issues/list

Package: qgvnotify
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmosquitto (>= 0.15), libssl0.9.8
Description: Multi-platform Google Voice Poller
 Poll Google Voice and Contacts for changes and publish results to a mosquitto server. This is primarily used in conjunction with qgvdial
