#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

%:
	dh $@

override_dh_install:
	echo CURDIR is $(CURDIR)
	$(MAKE) INSTALL_ROOT="$(CURDIR)"/debian/qgvdial install

override_dh_auto_configure:
	pushd ../features/dbus_api/gen/ ; ./create_ifaces.sh ; popd
	qmake

override_dh_auto_build:
	dh_auto_build -- -j4

