#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

%:
	dh $@

override_dh_install:
	echo CURDIR is $(CURDIR)
	$(MAKE) INSTALL_ROOT="$(CURDIR)"/debian/qgvdial install

override_dh_auto_configure:
	#cd qgv-tp/src ; ./create_ifaces.sh ; cd ../..
	qmake

