[Desktop Entry]
Encoding=UTF-8
Version=__QGVDIAL_VERSION__
Type=Application
Terminal=false
Name=qgvdial
Exec=/opt/qgvdial/bin/qgvdial
#Exec=/usr/bin/single-instance /opt/qgvdial/bin/qgvdial
Icon=/usr/share/icons/hicolor/80x80/apps/qgvdial80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
Maemo-Flags=visible
